*{
    margin: 0;
    padding: 0; 
}
.mainContainer{
    background-color: #563f46;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.title-heading{
    font-size: 100px;
    margin-top: 8%;
} .new-thingToDoInput{
    width: 300px;
    height: 50px;
margin-left: 10px;
    color:#563f46 ;
    font-weight: bold;
    margin-right: 10px;
}

.paragraph-and-input-container{
    justify-content: center;
    display: flex;
    position: absolute;
    top: 33%;
align-items: center;
text-align: center;
}
.add-paragraph{
    font-size: 20px;
    font-weight: bolder;
}
.container-for-adding-elements{
    background-color: aliceblue;
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 450px;
}